body{
    
    background-color: #5f4dee
}

.topnav-container{
    position: fixed;
    
    background-color: #5f4dee;
    margin-top: -22px;
    height: 50px;
    width: 100%;
   
    margin-left: -12px;
}

.topnav-container img{
    position: absolute;
    margin-left: 20px;
    top: 9px;
}

.topnavbuttons-container a{
    text-decoration-line: none;
    color: rgb(199, 194, 194);
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    float: right;

}

.topnavbuttons-container a:hover{
    color: white;
    transition: 0.5s;
}

.login-container button[type="SUBMIT"]{
    float: right;
    margin-top: 9px;
    background-color: #5f4dee;
    border-radius: 10px;
    border-color: white;
}

.login-container button[type="SUBMIT"]{
    color: white;
    font-size: 15px;
}
