body{
    background-color: #5f4dee;
    overflow-x: hidden;
    font-family: 'Opensans', sans-serif;
}

.topnav-container{
    position: fixed;
    background-color: #5f4dee;
    margin-top: -300px;
    height: 70px;
    width: 1385px;
    margin-left: -40px;

    
}

.topnav-container img{
    position: absolute;
    background-color: #5f4dee;
    margin-left: 66px;
    top: 9px;
}

.topnavbuttons-container{
    right: -860px;
    top: -10px;
    position: relative;
}

.topnavbuttons-container a{
    text-decoration-line: none;
    color: #dadfe2;
    
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    right: -30%;
    font-size: 15px;
    font: "Open Sans", sans-serif;
}

.topnavbuttons-container a:hover{
    color: white;
    transition: 0.5s;
}

.login-container{
    top: -86px;
    position: relative;
}

.login-container button[type="SUBMIT"]{
    float: right;
    margin-top: 22px;
    background-color: #5f4dee;
    border-radius: 15px;
    border-color: white;
    color: white;
    font-size: 15px;
    width: 7%;
    height: 30px;
}

.topnav-container .login-container button:hover{
    background-color: #ffffff;
    color: #5f4dee;
    transition: 0.5s;
    cursor: pointer;
}

.dropbtn {
    background-color: #5f4dee;
    color: #dadfe2;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: -5px;
    font-size: 14px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #5f4dee;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: rgb(199, 194, 194);
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    
}

.dropdown-content a:hover {
    background-color: #5f4dee;
    color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #5f4dee;
  color: white;
}

.leftmain-container{
    position: initial;    
}

.lefttexto-container{
    margin-left: 75px;
}

.lefttitle-container{
    margin-left: 50px;
}

.leftmain-container .lefttitle-container{
    margin-top: 300px;
}


.leftmain-container .lefttitle-container p{
    color: white;
    font-size: 56px;
    text-align: justify;
    font-weight: 650;
}


.rightheader-image img{
    float: right;
    
    width: 700px;
    margin-top: -365px;
    margin-right: -57px;

}

.lefdesc-container{ 
    margin-top: -40px;
    position: inherit;
    margin-left: 50px;

}

.leftmain-container .lefdesc-container p{
    color: white;
    font-size: 18px;
    margin: 0px 0px 34px;
    word-spacing: 1.8px;
    letter-spacing: 0.3px;
    font-weight: 500;
    
}

.leftbuttons-container button[type="SUBMIT"]{
    border-radius: 40px;
    margin: 4px;
    border-color: white;
    font-size: 15px;
    width: 9%;
    height: 50px;
}

.leftbuttons-container .discover-button{
    background-color: white;
    color: #5f4dee;
    cursor: pointer;
}

.leftbuttons-container .discover-button:hover{
    background-color: #5f4dee;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.leftbuttons-container .signup-button{
    background-color: #5f4dee;
    color: white;
    cursor: pointer;
}

.leftbuttons-container .signup-button:hover{
    background-color: #ffffff;
    color: #5f4dee;
    cursor: pointer;
    transition: 0.5s;
}

.secondpage-container{
    background-color: white;
    width: 1600px;
    margin-top: 250px;
    height: auto;
}

.promocoes-container{
    margin-left: 195px;
    width: 80%;
}

.promocoes-container img{
    margin-top: 110px;
    width: 80%;
}

.titleonly-container{
    margin-left: -10%;
    text-align: center;
    margin-top: 60px;
}

.titleonly-container t{
    color: #5f4dee; 
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    
}

.centertitle-container{
    margin-top: 100px;
}

.marketingtext-container{
    margin-left: -10%;
    text-align: center;
    margin-top: -35px;
}

.marketingtext-container p{
    color: #2f363b;
    font-size: 36px;
    font-weight: 700;
}

.threeimages-container img{
    width: 16%;
}