@media only screen and (min-width: 0px) and (max-width: 799px) {
    body{
        background-color: #5f4dee;
        overflow-x: hidden;
        font-family: 'Opensans', sans-serif;
    }

    .topnav-container{
        display: none;
    }

    .topnavbuttons-container{
        
        top: -10px;
        position: relative;
    }

    .topnavbuttons-container a{
        text-decoration-line: none;
        color: #dadfe2;
        
        cursor: pointer;
        padding: 10px 10px 10px 10px;
        right: -30%;
        font-size: 15px;
        font: "Open Sans", sans-serif;
    }

    .topnavbuttons-container a:hover{
        color: white;
        transition: 0.5s;
    }

    .login-container{
        top: -86px;
        position: relative;
        margin-right: 40px;
    }

    .rightbuttons-container{
        right: auto;
        display: none;
    }

    .topnavmobile-container .threelines-container img{
        width: 7%;
        margin-top: -9px;
        margin-left: 50px;
    }

    .input[type="checkbox"]{
        display: none;
    }

    .logomobile-container img{ 
        position: absolute;
        background-color: #5f4dee;
        margin-left: 43px;
        top: 9px;
        width: 20%;
    }

    nav{
        position: absolute;
        transition: all .5s;
        background-color: #5f4dee;
        width: auto;
    }

    .topnavmobile-container{
        background-color: #5f4dee;
        margin-left: 0px;
        position: fixed;
        width: auto;
        height: 60px;
        margin-top: -120px;
    }

    .topnavmobile-container nav{
        width: auto;
        height: auto;
        
    }

    .topnavmobile-container ul{
        position: relative;
        list-style-type: none;
        margin-left: 40px;
    }

    input[type="checkbox"]:checked ~ nav{
        transform: translateX(350px);
    }

    .hideninfo-container{
        margin-left: 0px;
        
    }


    .topnavmobile-container a{
        display: block;
        padding: 20px 5px;
        color: white;
        text-decoration: none;
    }

    label{
        z-index: 1;
        margin-left: 290px;
        
    }

    .login-container button[type="SUBMIT"]{
        float: right;
        margin-top: 22px;
        background-color: #5f4dee;
        border-radius: 15px;
        border-color: white;
        color: white;
        font-size: 15px;
        width: 7%;
        height: 30px;
    }

    .topnav-container .login-container button:hover{
        background-color: #ffffff;
        color: #5f4dee;
        transition: 0.5s;
        cursor: pointer;
    }

    .dropbtn {
        background-color: #5f4dee;
        color: #dadfe2;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        margin-top: -5px;
        font-size: 14px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #5f4dee;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: rgb(199, 194, 194);
        padding: 12px 12px;
        text-decoration: none;
        display: block;
        
    }

    .dropdown-content a:hover {
        background-color: #5f4dee;
        color: white;
    }

    .dropdown:hover .dropdown-content {
    display: block;
    }

    .dropdown:hover .dropbtn {
    background-color: #5f4dee;
    color: white;
    }

    .leftmain-container{
        position: initial;    
       
    }

    .lefttexto-container{
        margin-left: 75px;
        margin-top: -180px;
    }

    .lefttitle-container{
        margin-left: 50px;
        
    }

    .leftmain-container .lefttitle-container{
        margin-top: 300px;
        margin-left: -65px;
    }


    .leftmain-container .lefttitle-container p{
        color: white;
        font-size: 36px;
        text-align: left;
        font-weight: 650;
        text-align: center;
    }

    .rightheader-image{
        margin-top: 35px;
    }

    .rightheader-image img{
        width: auto;
        margin-bottom: 40px;
        margin-left: -75px;
        
        

    }

    .lefdesc-container{ 
        margin-top: -20px;
        margin-left: -75px;
        

    }

    .leftmain-container .lefdesc-container p{
        color: white;
        font-size: 18px;
        font-weight: 200;
        text-align: center;
    }

    .leftbuttons-container button[type="SUBMIT"]{
        border-radius: 40px;

        border-color: white;
        
        font-size: 15px;
        width: 40%;
        height: 50px;
        margin-left: 25px;
    }

    .leftbuttons-container .discover-button{
        background-color: white;
        color: #5f4dee;
        cursor: pointer;
    }

    .leftbuttons-container .discover-button:hover{
        background-color: #5f4dee;
        color: white;
        cursor: pointer;
        transition: 0.5s;
    }

    .leftbuttons-container .signup-button{
        
        background-color: #5f4dee;
        color: white;
        cursor: pointer;
    }

    .leftbuttons-container .signup-button:hover{
        background-color: #ffffff;
        color: #5f4dee;
        cursor: pointer;
        transition: 0.5s;
    }

    .secondpage-container{
        background-color: white;
        width: auto;
        margin-left: -10%;
        margin-right: -10%;
        margin-top: 50px;
        
        height: 1200px;
    }

    .promocoes-container{
        text-align: center;
        margin-left: 10%;
        width: 80%;
        display: none;
    }

    .mobilepromocoes-container{
        text-align: center;
        margin-left: 10%;
        margin-top: -20px;
        width: 80%;
    }

    .mobilepromocoes-container img{
        margin-top: 40px;
    }

    .promocoes-container img{
        margin-top: 110px;
        width: auto;
    }


    .titleonly-container{
        margin-left: -10%;
        text-align: center;
        margin-top: 75px;
    }

    .titleonly-container t{
        color: #5f4dee; 
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        
    }

    .centertitle-container{
        margin-top: 100px;
        text-align: center;
        margin-left: 7%;
    }

    .threeimages-container{
        text-align: center;
        margin-left: -47%;
    }

    .threeimages-container p{
        text-align: center;
    }

    .marketingtext-container{
        margin-left: -10%;
        text-align: center;
        margin-top: -25px;
    }

    .marketingtext-container p{
        color: #2f363b;
        font-size: 26px;
        font-weight: 700;
    }

    .imageslist-container li{
        display:inline-block;
        list-style-type: none;
        margin-left: 120px;


    }

    .imageslist-container img{
        width: 200px;
        margin-left: 50px;
    }

    

    .imagem3-bugada{
        margin-top: -10px;
    
    }

    .imagem3-bugada img{
        width: 206px;
    }

    .imagem3-bugada h1{ 
        text-align: left;
    }

    .imageslist-container h1{
        font-size: 20px;
        color: #2f363b;
        text-align: center;
    }

    .imageslist-container p{
        font-size: 16px;
        text-align: center;
        color: #6b747b;
    }

    .thirdpage-container{
        background-color: #f5f6fb;
        width: 1600px;
        margin-top: 0px;
        margin-left: -1%;
        height: 500px;
    }

    .thirdtitle-container{
        text-align: center;
        margin-left: -10%;
    }

    .thirdtitle-container t{
        color: #5f4dee;
        font-weight: 600;
        font-size: 14px;
        
    }

    .thirdtext-container{
        text-align: center;
        margin-left: -10%;
    }

    .thirdtext-container p{
        color: #6b747b;
        font-size: 16px;
    }

    .forthtitle-container t{
        color: #2f363b;
        font-size: 34px;
        font-weight: 600;
    }

    .threetabs-container img{
        width: 26%;
    }

    footer{
        margin-top: 25px;
        text-align: center;
    }

    footer t{
        
        color: white;
    }

    .threefooter-container{
        margin-top: 0px;
        margin-left: -120px;
        text-align: left;
    }

    .threefooter-container li{
        display:inline-block;
        list-style-type: none;
        margin-left: 120px;
        text-align: left;

    }

    .threefooter-container img{
        width: 200px;
        margin-left: 50px;
    }

    .threefooter-container h1{
        font-size: 20px;
        color: #2f363b;
        text-align: center;
    }

    .threefooter-container p{
        font-size: 14px;
        text-align: left;
        color: #e2e1e8;
    }

    .divone-container p{
        text-align: left;   
    }

    .divone-container t{
        text-align: right;
    }

    .divtwo-container p{
        text-align: left;
    }

    .divtwo-container a{
        text-decoration: none;
        color: #e2e1e8;
    }

    .divthress-container p{
        text-align: left;
    }

    .copyright-container{
        text-align: center;
        margin-left: 8%;
        
    }

    .copyright-container a{
        text-decoration: none;
        color: #e2e1e8; 
    }

    .copyright-container p{
        margin-left: -6%;
        text-align: center;
        color: #e2e1e8;
    }
}